brosur_0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/brosur_0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="brosur_0" targetNamespace="http://www.example.org/brosur_0/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/brosur_0/">
      <xsd:element name="prm">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="prm1" type="xsd:int"></xsd:element>
      			<xsd:element name="prm2" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="infotype">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="nama" type="xsd:string"></xsd:element>
      			<xsd:element name="npm" type="xsd:string"></xsd:element>
      			<xsd:element name="agama" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="data">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="nama" type="xsd:string"></xsd:element>
      			<xsd:element name="npm" type="xsd:string"></xsd:element>
      			<xsd:element name="sks" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="helloRequest">
    <wsdl:part name="input" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="helloResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cekBarangRequest">
  	<wsdl:part name="kdBarang" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="cekBarangResponse">
  	<wsdl:part name="jumlah" type="xsd:int"></wsdl:part>
  </wsdl:message>
    <wsdl:message name="prm">
    	<wsdl:part name="prm" element="tns:prm"></wsdl:part></wsdl:message>
    <wsdl:message name="out">
    	<wsdl:part name="out" type="xsd:int"></wsdl:part></wsdl:message>
    <wsdl:message name="infoRequest">
    </wsdl:message>
    <wsdl:message name="infoResponse">
    	<wsdl:part name="infoResponse" element="tns:infotype"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setMhsRequest">
    	<wsdl:part name="setMhsRequest" element="tns:data"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setMhsResponse">
    	<wsdl:part name="setMhsResponse" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="brosur_0">
    <wsdl:operation name="hello">
      <wsdl:input message="tns:helloRequest"/>
      <wsdl:output message="tns:helloResponse"/>
    </wsdl:operation>
    <wsdl:operation name="cekBarang">
    	<wsdl:input message="tns:cekBarangRequest"></wsdl:input>
    	<wsdl:output message="tns:cekBarangResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tambah">
    	<wsdl:input message="tns:prm"></wsdl:input>
    	<wsdl:output message="tns:out"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="info">
    	<wsdl:input message="tns:infoRequest"></wsdl:input>
    	<wsdl:output message="tns:infoResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMhs">
    	<wsdl:input message="tns:setMhsRequest"></wsdl:input>
    	<wsdl:output message="tns:setMhsResponse"></wsdl:output>
    </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="brosur_0SOAP" type="tns:brosur_0">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="hello">
    		<soap:operation
    			soapAction="http://www.example.org/brosur_0/hello" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="cekBarang">
    		<soap:operation
    			soapAction="http://www.example.org/brosur_0/cekBarang" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="tambah">
    		<soap:operation
    			soapAction="http://www.example.org/brosur_0/tambah" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="info">
    		<soap:operation
    			soapAction="http://www.example.org/brosur_0/info" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="setMhs">
    		<soap:operation
    			soapAction="http://www.example.org/brosur_0/setMhs" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="brosur_0">
    <wsdl:port binding="tns:brosur_0SOAP" name="brosur_0SOAP">
      <soap:address location="http://localhost/latihan/ws0/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
