siaphapus.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.polpos.gom/siaphapus/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="siaphapus" targetNamespace="http://www.polpos.gom/siaphapus/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.polpos.gom/siaphapus/">
      <xsd:element name="HELO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HELOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="prm">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="prm1" type="xsd:int"></xsd:element>
      			<xsd:element name="prm2" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HELORequest">
    <wsdl:part name="parameters" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="HELOResponse">
    <wsdl:part name="parameters" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tambahRequest">
  	<wsdl:part name="tambahRequest" element="tns:prm"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="tambahResponse">
  	<wsdl:part name="tambahResponse" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="siaphapus">
    <wsdl:operation name="HELO">
      <wsdl:input message="tns:HELORequest"/>
      <wsdl:output message="tns:HELOResponse"/>
    </wsdl:operation>
    <wsdl:operation name="tambah">
    	<wsdl:input message="tns:tambahRequest"></wsdl:input>
    	<wsdl:output message="tns:tambahResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="siaphapusSOAP" type="tns:siaphapus">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="HELO">
  		<soap:operation
  			soapAction="http://www.polpos.gom/siaphapus/HELO" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="tambah">
  		<soap:operation
  			soapAction="http://www.polpos.gom/siaphapus/tambah" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="siaphapus">
    <wsdl:port binding="tns:siaphapusSOAP" name="siaphapusSOAP">
      <soap:address location="http://localhost/latihan/ws0/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
